.homepage-hotel {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 24px;
  position: relative;
  @media (min-width: 1024px) {
    padding-top: 48px;
  }

  @media screen and (max-width: 1023px) {
    background-image: linear-gradient(0deg, #000000a7, #000000a7),
      url('../images/homepage-hotel/homepage-hotel_bgi-mobile1x.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 1023px),
    screen and (min-resolution: 192dpi) and (max-width: 1023px),
    screen and (min-resolution: 2dppx) and (max-width: 1023px) {
    background-image: linear-gradient(0deg, #000000a7, #000000a7),
      url('../images/homepage-hotel/homepage-hotel_bgi-mobile2x.jpg');
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(0deg, #000000a7, #000000a7),
      url('../images/homepage-hotel/homepage-hotel_bgi-tablet1x.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
    screen and (min-resolution: 192dpi) and (min-width: 1024px),
    screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    background-image: linear-gradient(0deg, #000000a7, #000000a7),
      url('../images/homepage-hotel/homepage-hotel_bgi-tablet2x.jpg');
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(0deg, #000000a7, #000000a7),
      url('../images/homepage-hotel/homepage-hotel_bgi-desktop1x.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: linear-gradient(0deg, #000000a7, #000000a7),
      url('../images/homepage-hotel/homepage-hotel_bgi-desktop2x.jpg');
  }

  &__wrap {
    background-color: #fffdee;
    @media screen and (min-width: 1024px) {
      background-image: url(../images/three-lines.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__logo {
    font-family: Mimino;
    font-size: 40px;
    line-height: calc(43 / 40);
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: var(--main-white);
    @media (min-width: 1024px) {
      font-size: 64px;
      margin-bottom: 16px;
    }
  }

  &__title-wrap {
    width: 127px;
    margin: 0 auto 20px auto;
    @media (min-width: 1024px) {
      margin: 0 278px 8px auto;
      width: 202px;
    }
    @media (min-width: 1280px) {
      margin: 0 338px 8px auto;
    }
  }

  &__title {
    color: var(--main-white);
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    text-align: end;
    @media (min-width: 1024px) {
      font-size: 24px;
    }
  }
  &__text {
    margin-left: 32px;
    margin-bottom: 48px;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    letter-spacing: 0.02em;
    color: #b4b4b4;
    width: 243px;

    @media (min-width: 1024px) {
      font-size: 16px;
      width: 549px;
      margin: 0 278px 40px auto;
    }
    @media (min-width: 1280px) {
      width: 595px;
      margin: 0 338px 40px auto;
    }
  }
  &__button-list {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1023px) {
      padding-bottom: 40px;
    }
    @media (min-width: 1024px) {
      position: absolute;
      bottom: 80px;
      right: 40px;
    }
    @media (min-width: 1280px) {
      bottom: 80px;
      right: 86px;
    }
  }
  &__button {
    letter-spacing: 0.02em;
    color: var(--yellow);
    border: 2px solid;
    border-color: var(--main-white);
    cursor: pointer;
    background-color: #0004;
    border-radius: 25px;
    padding: 14px 0;
    width: 236px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--main-white);
    }
  }
}

.homepage-hotel__img-gallery {
  display: flex;
  justify-content: center;
  margin-right: 40px;
  padding-bottom: 80px;
  max-width: 374px;

  @media (min-width: 1024px) {
    margin-left: 40px;
    max-width: 650px;
  }

  @media (min-width: 1280px) {
    margin-left: 52px;
    max-width: 870px;
  }
}

.homepage-hotel__item {
  margin-left: 25px;
  @media screen and (min-width: 1024px) {
    margin-left: 34px;
    margin-right: 0;
  }
  @media (min-width: 1280px) {
    margin-left: 70px;
    margin-right: auto;
  }
}

.homepage-hotel__box {
  // height: 245px;
  transform: translateX(100px);
  height: 270px;
  min-width: 160px;

  @media (min-width: 1024px) {
    height: 270px;
    min-width: 160px;
    transform: translateX(-510px);
  }
  @media (min-width: 1280px) {
    height: 270px;
    min-width: 160px;
    transform: translateX(20px);
  }
}

.homepage-hotel__img {
  object-fit: cover;
}

.slick-prev-rest-detail_s,
.slick-next-rest-detail_s {
  width: 32px;
  height: 32px;
  background-color: #0000;
  cursor: pointer;
  border: none;
  padding: 0;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  bottom: 20px;
  z-index: 3;

  @media (min-width: 1024px) {
    bottom: 25px;
  }

  @media (min-width: 1280px) {
    top: 295px;
  }
}

.slick-prev-rest-detail_s {
  background-image: url('../images/cil_arrow-left-hotel-white.svg');
  z-index: 3;
  right: 68px;

  @media (min-width: 1024px) {
    right: 65px;
  }
}

.slick-next-rest-detail_s {
  background-image: url('../images/cil_arrow-right-hotel-white.svg');
  z-index: 3;
  right: 8px;

  @media (min-width: 1024px) {
    right: 0;
  }
}

.slick-prev-rest-detail_s:hover,
.slick-prev-rest-detail_s:focus {
  background-image: url(../images/rest-home/arr-left-yell.svg);
  width: 32px;
  height: 32px;
  z-index: 3;
}

 .slick-next-rest-detail_s:hover,
.slick-next-rest-detail_s:focus {
  background-image: url(../images/rest-home/arr-right-yell.svg);
  width: 32px;
  height: 32px;
  z-index: 3;
}
