.homepage-restaurant {
  background-color: var(--background-section);
  padding: 24px 0 40px 0;
  position: relative;

  @media screen and (min-width: 1024px) {
    padding: 48px 0 96px 0;
  }

  &__bg-img {
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 735px;
    max-width: 414px;
    background-image: linear-gradient(0deg, #000000a7, #000000a7),
      url('../images/rest_bg/bg_mobile.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(0deg, #000000a7, #000000a7),
        url('../images/rest_bg/bg_mobile@2x.jpg');
    }

    @media screen and (min-width: 1024px) {
      max-height: 620px;
      max-width: 1024px;
      background-image: linear-gradient(0deg, #000000a7, #000000a7),
        url('../images/rest_bg/bg_tablet.jpg');
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
      screen and (min-resolution: 192dpi) and (min-width: 1024px),
      screen and (min-resolution: 2dppx) and (min-width: 1024px) {
      background-image: linear-gradient(0deg, #000000a7, #000000a7),
        url('../images/rest_bg/bg_tablet@2x.jpg');
    }

    @media screen and (min-width: 1280px) {
      max-width: 1280px;

      background-image: linear-gradient(0deg, #000000a7, #000000a7),
        url('../images/rest_bg/bg_desk.jpg');
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
      screen and (min-resolution: 192dpi) and (min-width: 1280px),
      screen and (min-resolution: 2dppx) and (min-width: 1280px) {
      background-image: linear-gradient(0deg, #000000a7, #000000a7),
        url('../images/rest_bg/bg_desk@2x.jpg');
    }
  }

  &__container {
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

    @media screen and (min-width: 414px) and (max-width: 1023px) {
      width: 414px;
    }

    @media screen and (min-width: 1024px) {
      max-width: 1024px;
      padding: 0 50px 0 47px;
      display: flex;
      flex-direction: row-reverse;
    }

    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      padding: 0 52px 0 85px;
    }
  }

  &__lines--top {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;

      @media screen and (max-width: 1023px) {
        background: var(--vertical-lines-mobile);
        width: 136px;
      }

      @media screen and (min-width: 1024px) {
        background: var(--vertical-lines-tablet);
        width: 468px;
      }

      @media screen and (min-width: 1280px) {
        background: var(--vertical-lines-desktop);
        width: 605px;
      }
    }
  }
}

.homepage-restaurant__name {
  margin-left: 100px;
  margin-bottom: 12px;
  font-family: Mimino;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: var(--main-white);

  @media screen and (min-width: 1024px) {
    margin-left: 0;
    font-size: 64px;
    line-height: calc(69 / 64);
    margin-bottom: 16px;
  }
}

.homepage-restaurant__title {
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--main-white);
  margin-bottom: 20px;
  margin-left: 100px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 8px;
    margin-left: 0;
  }
}

.homepage-restaurant__text {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-left: 100px;
  margin-bottom: 48px;
  max-width: 259px;
  @media screen and (min-width: 1024px) {
    margin-left: 0;
    max-width: 610px;
  }
}

.rest-slider {
  display: flex;

  @media screen and (min-width: 1024px) {
    min-width: 428px;
  }
}

.rest-slider__item {
  margin-left: 20px;

  @media screen and (min-width: 1024px) {
    margin-left: 34px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 86px;
  }
}

.homepage-restaurant .my-slick-prev-rest {
  left: 0;
  bottom: -48px;
  background-image: url('../images/cil_arrow-left-hotel-white.svg');

  @media screen and (min-width: 1024px) {
    top: 286px;
  }
}

.homepage-restaurant .my-slick-next-rest {
  left: 64px;
  bottom: -48px;
  background-image: url('../images/cil_arrow-right-hotel-white.svg');
  @media screen and (min-width: 1024px) {
    top: 286px;
  }
}

.my-slick-prev-restaurant,
.my-slick-next-restaurant {
  position: absolute;
}

.my-slick-prev-restaurant {
  background-image: url('../images/cil_arrow-left-hotel-white.svg');

  width: 32px;
  height: 32px;
  border: none;
  color: #0000;
  background-size: cover;
  background-color: #0000;

  bottom: -40px;
  right: 70px;
}

.my-slick-next-restaurant {
  background-image: url('../images/cil_arrow-right-hotel-white.svg');
  width: 32px;
  height: 32px;
  border: none;
  color: #0000;
  background-size: cover;
  background-color: #0000;

  bottom: -40px;
  right: 30px;
}

.my-slick-prev-restaurant:hover,
.my-slick-prev-restaurant:focus {
  background-image: url(../images/rest-home/arr-left-yell.svg);
  width: 32px;
  height: 32px;
  z-index: 3;
}

 .my-slick-next-restaurant:hover,
.my-slick-next-restaurant:focus {
  background-image: url(../images/rest-home/arr-right-yell.svg);
  width: 32px;
  height: 32px;
  z-index: 3;
}

.rest-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.01em;

  padding: 14px 24px;
  color: var(--yellow);
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid;
  border-color: var(--main-white);
  border-radius: 25px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--main-white);
  }
}

.homepage-restaurant__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--yellow);
  min-width: 236px;
  max-height: 48px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  display: block;
  padding: 14px 28px;

  @media screen and (max-width: 1023px) {
    margin: 0 auto;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (max-width: 1023px) {
    padding-right: 40px;
  }

  @media screen and (min-width: 1024px) {
    margin-top: auto;
  }
}

.homepage-restaurant__button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--yellow);
  min-width: 236px;
  max-height: 48px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  display: block;
  background-color: transparent;
  padding: 14px 20px;

  @media screen and (max-width: 1023px) {
    margin: 0 auto;
  }
}

.homepage-restaurant__button:hover,
.homepage-restaurant__link:hover,
.homepage-restaurant__button:focus,
.homepage-restaurant__link:focus {
  background-color: var(--yellow);
  color: var(--black-color-room);
}

.homepage-restaurant__wrapper {
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.homepage-restaurant__box {
  margin-bottom: 80px;
  @media screen and (min-width: 1024px) {
    width: 696px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 888px;
  }
}

.rest-menu {
  margin-top: 32px;

  @media screen and (min-width: 1024px) {
    margin-top: 40px;

    padding-left: 34px;
  }
}
