.rest-home {
    background-color: var(--backgroung-section);
}

.rest-home__img {
  margin-bottom: 28px; 
  margin-right: 0;
  margin-left: auto;
   
}

.restor-home__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}