// BudnaElvira
.room-amenities {
  padding-top: 32px;
  padding-bottom: 32px;

  background: var(--background-section);

  @media screen and (min-width: 1024px) {
    padding-top: 48px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 48px;
  }

  &__vertical-lines {
    @media screen and (min-width: 1280px) {
      // max-width: 1280px;
      // margin-left: auto;
      // margin-right: auto;

      background-image: url(../images/room-line.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__container {
    @media screen and (min-width: 1024px) {
      padding: 0 47px;
    }

    @media screen and (min-width: 1280px) {
      padding: 0 85px;
    }
  }

  &__container-text {
    @media screen and (min-width: 1024px) {
      display: flex;
      gap: 80px;
    }

    @media screen and (min-width: 1280px) {
      gap: 159px;
    }
  }

  &__title {
    margin-bottom: 16px;

    font-family: 'Times';
    font-weight: 400;
    font-size: 32px;
    line-height: calc(37 / 32);
    text-transform: uppercase;
    color: var(--black-color-room);
  }

  &__subtitle {
    margin-bottom: 16px;

    font-family: 'Times';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    text-transform: uppercase;
    color: var(--black-color-room);
  }

  &__text {
    margin-bottom: 16px;
    max-width: 400px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;
    color: var(--text-room);

    &--bottom {
      margin-bottom: 32px;
    }

    &--wide {
      max-width: 757px;
    }
  }

  &__button-book {
    display: block;
    margin-bottom: 20px;
    padding: 20px 42px;
    width: 100%;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(24 / 12);
    text-transform: uppercase;
    color: var(--main-white);
    background-color: var(--black-color-room);
    border: 1px solid var(--border-button-room);
    border-radius: 25px;
    cursor: pointer;

    @media screen and (min-width: 414px) {
      max-width: 384px;
      min-height: 64px;

      font-size: 20px;
      line-height: calc(24 / 20);
    }

    @media screen and (min-width: 1024px) {
      max-width: 434px;
      padding: 18px 36px;

      font-size: 24px;
      line-height: calc(29 / 24);
    }

    @media screen and (min-width: 1280px) {
      margin-right: 113px;
    }

    &:hover,
    &:focus {
      color: var(--black-color-room);
      background: var(--border-button-room);
      border: 1px solid var(--border-button-room);
    }
  }

  &__button-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &__button-back {
    display: flex;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(20 / 12);
    letter-spacing: 0.02em;
    color: var(--text-secondary-brown);
    cursor: pointer;

    @media screen and (min-width: 414px) {
      font-size: 16px;
      line-height: calc(20 / 16);
    }

    @media screen and (min-width: 1024px) {
      font-size: 20px;
      line-height: calc(24 / 20);
    }

    @media screen and (min-width: 1280px) {
      margin-right: 113px;
    }

    &:hover,
    &:focus {
      color: var(--border-button-room);
    }
  }

  &__icon {
    margin-left: 12px;

    fill: currentColor;
  }
}
