<div class="backdrop is-hidden" data-modal>
  <div class="modal__book-table" id="myModal" role="dialog" aria-hidden="true">
    <button class="modal__button--close" data-modal-close>
      <svg class="modal__book--icon" width="24px" height="24px">
        <use href="./images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <h2 class="modal__book-title">Забронювати столик</h2>
    <form name="booking-table_form" class="booking-table__form">
      <div class="booking-table__item">
        <input
          class="booking-table__input"
          type="text"
          name="username"
          id="user_name"
          placeholder="Ваше ім’я"
          required
          pattern="[A-Za-zА-Яа-я]{3,}"
          title="Ім'я повинне складатися мінімум з трьох букв"
          autocomplete="off"
        />
        <label class="booking-table__label" for="user_name"
          >На кого забронювати столик?</label
        >
        <input
          class="tel-input booking-table__input"
          type="tel"
          name="usertel"
          id="user_tel"
          required
          autocomplete="off"
        />
        <label class="booking-table__label" for="user_tel"
          >Номер телефону</label
        >
      </div>
      <div class="booking-table__item select-icon">
        <div class="booking-table__select-container">
          <select
            class="booking-table__select"
            id="booking-table-number"
            name="booking-table-number"
          >
            <option value="1">1</option>
            <option value="2" selected>2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <label class="booking-table__label" for="booking-table-number"
          >Столик на яку кількість осіб?</label
        >
        <div class="booking-table__select-container">
          <input
            class="booking-table__input booking-table__input--date-input"
            type="text"
            id="booking-table-date"
            required
            autocomplete="off"
            placeholder="Сьогодні"
            pattern="(0[1-9]|[12][0-9]|3[01])[- ..](0[1-9]|1[012])[- ..](19|20)\d\d"
          />
          <span class="modal-book-room__date-input-overlay"><svg class="modal-book-room__date-input-icon" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-modal-arrow"></use>
            </svg>
          </span>
        </div>
        <label class="booking-table__label" for="booking-table-date"
          >На яку дату бронювати?</label
        >
      </div>
      <button type="submit" class="modal__book-button">
        Оформити бронювання
      </button>
    </form>
  </div>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.4.3/imask.min.js"
  integrity="sha512-yJ3vm1HmQtcgeMtbUYCp7PuTLyjU+ffCnVNTuE1Uccv1BmkoaJIXt1EjBVGnscjCILc62hTJJJ2rJJBTcw8RjQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
