<footer class="footer">
  <div class="container footer__container">
    <a href="./index.html" class="footer__logo">MIMIHO</a>
    <div class="footer__menu">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="./index.html" class="footer__link">Головна</a>
        </li>
        <li class="footer__item">
          <a href="./restaurant.html" class="footer__link">Ресторан</a>
        </li>
        <li class="footer__item">
          <a href="./hotel.html" class="footer__link">Готель</a>
        </li>
      </ul>
      <ul class="footer__soc-list">
        <li>
          <a href="" class="footer__soc-link"
            ><span class="footer__soc-text" target="_blank" rel="noopener"
              >Telegram</span
            >
            <svg class="footer__icon" width="24px" height="24px">
              <use href="./images/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/profile.php?id=100083391460447"
            class="footer__soc-link"
            ><span class="footer__soc-text" target="_blank" rel="noopener"
              >Facebook</span
            >
            <svg class="footer__icon" width="24px" height="24px">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/mimino.poltava/"
            class="footer__soc-link"
            target="_blank"
            rel="noopener"
            ><span class="footer__soc-text">Instagram</span>
            <svg class="footer__icon" width="24px" height="24px">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
