<section class="section-hero">
  <div class="hero-room__gardient"></div>

  <div class="hero-room">
    <ul class="slick__list-room room-time">
      <li class="slick__item">
        <div class="slick__box-room slick__box-room--first"></div>
      </li>
      <li class="slick__item">
        <div class="slick__box-room slick__box-room--second"></div>
      </li>
    </ul>

    <h1 class="hero-room__tittle">
      Двомісний номер <span class="hero-room__first-word">люкс</span>
    </h1>

    <p class="hero-room__prg">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <button
      type="button"
      class="hero__btn hero__btn-room open-modal-price-button"
    >
      Переглянути ціни
    </button>

    <a class="hero-room__location" href="https://goo.gl/maps/a2uij21pFaNqsaGz5">
      <svg class="hero__location-icon">
        <use href="./images/symbol-defs.svg#icon-location-pin"></use>
      </svg>
      <p>
        Україна, м. Полтава,<br />
        вул. Маршала Бірюзова, 15
      </p>
    </a>

    <ul class="social-list-nav-room--second">
      <li>
        <a href="https://www.instagram.com/mimino.poltava/">
          <svg class="social-list-nav__icon" height="24" width="24">
            <use href="./images/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/profile.php?id=100083391460447">
          <svg class="social-list-nav__icon" height="24" width="24">
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg class="social-list-nav__icon" height="24" width="24">
            <use href="./images/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
