<section class="homepage-hotel__wrap">
  <div class="homepage-hotel">
    <div class="container">
      <div class="homepage-hotel__title-wrap">
        <h2 class="homepage-hotel__logo">Mimino</h2>
        <h3 class="homepage-hotel__title">Готель</h3>
      </div>
      <p class="homepage-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>

      <div class="homepage-hotel__slider">
        <ul class="homepage-hotel__img-gallery two-time">
          <li class="homepage-hotel__item">
            <div class="homepage-hotel__box">
              <picture>
                <source
                  srcset="
                    ./images/homepage-hotel/hot-home-desk1.jpg    1x,
                    ./images/homepage-hotel/hot-home-desk1@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/homepage-hotel/hot-home-tab1.jpg    1x,
                    ./images/homepage-hotel/hot-home-tab1@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/homepage-hotel/hot-home-mob1.jpg    1x,
                    ./images/homepage-hotel/hot-home-mob1@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                />
                <img
                  class="img homepage-hotel__img"
                  src="./images/homepage-hotel/hot-home-mob1.jpg"
                  alt="Номер готелю, ліжко, столик"
                />
              </picture>
            </div>
          </li>
          <li class="homepage-hotel__item">
            <div class="homepage-hotel__box">
              <picture>
                <source
                  srcset="
                    ./images/homepage-hotel/hot-home-desk2.jpg    1x,
                    ./images/homepage-hotel/hot-home-desk2@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/homepage-hotel/hot-home-tab2.jpg    1x,
                    ./images/homepage-hotel/hot-home-tab2@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/homepage-hotel/hot-home-mob2.jpg    1x,
                    ./images/homepage-hotel/hot-home-mob2@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                />
                <img
                  class="img homepage-hotel__img"
                  src="./images/homepage-hotel/hot-home-mob2.jpg"
                  alt="Ванні аксесуари, рушники, шампунь, гель, крем"
                />
              </picture>
            </div>
          </li>
          <li class="homepage-hotel__item">
            <div class="homepage-hotel__box">
              <picture>
                <source
                  srcset="
                    ./images/homepage-hotel/hot-home-desk3.jpg    1x,
                    ./images/homepage-hotel/hot-home-desk3@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/homepage-hotel/hot-home-tab3.jpg    1x,
                    ./images/homepage-hotel/hot-home-tab3@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/homepage-hotel/hot-home-mob3.jpg    1x,
                    ./images/homepage-hotel/hot-home-mob3@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                />
                <img
                  class="img homepage-hotel__img"
                  src="./images/homepage-hotel/hot-home-mob3.jpg"
                  alt="Лоббі готелю, диван, столики"
                />
              </picture>
            </div>
          </li>
          <li class="homepage-hotel__item">
            <div class="homepage-hotel__box">
              <picture>
                <source
                  srcset="
                    ./images/homepage-hotel/hot-home-desk4.jpg    1x,
                    ./images/homepage-hotel/hot-home-desk4@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./images/homepage-hotel/hot-home-tab4.jpg    1x,
                    ./images/homepage-hotel/hot-home-tab4@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1279px)"
                />
                <source
                  srcset="
                    ./images/homepage-hotel/hot-home-mob4.jpg    1x,
                    ./images/homepage-hotel/hot-home-mob4@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                />
                <img
                  class="img homepage-hotel__img"
                  src="./images/homepage-hotel/hot-home-mob4.jpg"
                  alt="Гостьова кімната готелю, диван, столик"
                />
              </picture>
            </div>
          </li>
        </ul>
      </div>

      <!-- tyt to sho nove -->

      <!-- <div class="rest-menu">
      <ul class="rest-slider one-time">
        <li class="rest-slider__item">
          <picture>
            <source
              srcset="
                ./images/food1-mobile.jpg    1x,
                ./images/food1-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="./images/food1-tabl.jpg 1x, ./images/food1-tabl@2x.jpg 2x"
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/food1-desktop.jpg    1x,
                ./images/food1-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="img rest-slider__img"
              src="./images/food1-mobile.jpg"
              alt="Стейк на зеленій тарілці"
            />
          </picture>
        </li>

        <li class="rest-slider__item">
          <picture>
            <source
              srcset="
                ./images/food2-mobile.jpg    1x,
                ./images/food2-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="./images/food2-tabl.jpg 1x, ./images/food2-tabl@2x.jpg 2x"
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/food2-desktop.jpg    1x,
                ./images/food2-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="img rest-slider__img"
              src="./images/food2-mobile.jpg"
              alt="Шашлик на лаваші"
            />
          </picture>
        </li>

        <li class="rest-slider__item">
          <picture>
            <source
              srcset="
                ./images/food3-mobile.jpg    1x,
                ./images/food3-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="./images/food3-tabl.jpg 1x, ./images/food3-tabl@2x.jpg 2x"
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/food3-desktop.jpg    1x,
                ./images/food3-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="img rest-slider__img"
              src="./images/food3-mobile.jpg"
              alt="Салати"
            />
          </picture>
        </li>
      </ul>
    </div> -->

      <ul class="homepage-hotel__button-list">
        <li class="homepage-hotel__button-item">
          <button type="button" class="homepage-hotel__button">
            Забронювати номер
          </button>
        </li>
        <li class="homepage-hotel__button-item">
          <a href="./hotel.html">
            <button class="homepage-hotel__button">Переглянути ціни</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
