<section class="hotel-rooms">
  <div class="container container--rooms">
    <p class="brend-text">Amet minim mollit non</p>
    <a href="#" class="brend-logo">Mimiho</a>
    <h3 class="room-type">
      <span class="room-type__count">двомісний номер</span> люкс
    </h3>
    <p class="room-type__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <img
      class="room-type__photo"
      src="./images/modern-studio-apartment-design-with-bedroom-living-space 1.jpg"
      alt="bedroom"
    />
  </div>
</section>
