<section class="gallery">
  <div class="container gallery__container--lines">
    <div class="gallery-bedroom-container">
      <div class="gallery-bedroom">
        <p class="subtitle__logo">Amet minim mollit non</p>
        <h2 class="logo__gallery">Mimiho</h2>
        <p class="gallery__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="hotel__room">
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/modern-studio-mb.jpg    1x,
              ./images/modern-studio-mb@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/modern-studio-tb.jpg    1x,
              ./images/modern-studio-tb@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/modern-studio-apartment.jpg    1x,
              ./images/modern-studio-apartment@2x.jpg 2x
            "
          />
          <img
            class="img__hotel-gallery-hp"
            src="./images/modern-studio-apartment.jpg"
            alt="Номер з односпальним ліжком"
          />
        </picture>
      </div>
    </div>
    <div class="gallery-lobby">
      <div class="lobby__container">
        <p class="gallery__description-lobby">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div class="img-size__lobby">
          <picture>
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/hotel-lobby-mb.jpg    1x,
                ./images/hotel-lobby-mb@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/hotel-lobby-tb.jpg    1x,
                ./images/hotel-lobby-tb@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/hotel-lobby.jpg    1x,
                ./images/hotel-lobby@2x.jpg 2x
              "
            />
            <img
              class="img__hotel-gallery-hp img__lobby-mobile-size"
              src="./images/hotel-lobby.jpg"
              alt="Лоббі з диваном та каміном"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="slider__mobile-position">
      <ul class="gallery-hotel">
        <li class="slick__item">
          <div class="gallery__slick-box">
            <picture>
              <source
                srcset="
                  ./images/white-towel-bedroom.jpg    1x,
                  ./images/white-towel-bedroom@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/white-towel-bedroom-tb.jpg    1x,
                  ./images/white-towel-bedroom-tb@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/white-towel-bedroom.jpg    1x,
                  ./images/white-towel-bedroom@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1280px)"
              />
              <img
                src="./images/white-towel-bedroom.jpg"
                alt="складені рушники"
                width="245"
              />
            </picture>
          </div>
        </li>
        <li class="slick__item">
          <div class="gallery__slick-box">
            <picture>
              <source
                srcset="./images/cup-tea.jpg 1x, ./images/cup-tea@2x.jpg 2x"
                type="image/jpeg"
                media="(max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/cup-tea-desk.jpg    1x,
                  ./images/cup-tea-desk@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1280px)"
              />
              <img src="./images/cup-tea.jpg" alt="чашка кави" width="245" />
            </picture>
          </div>
        </li>
        <li class="slick__item">
          <div class="gallery__slick-box">
            <picture>
              <source
                srcset="
                  ./images/hotel-registration.jpg    1x,
                  ./images/hotel-registration@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1280px)"
              />
              <img
                src="./images/hotel-registration.jpg"
                alt="адміністратор в лоббі"
                width="245"
              />
            </picture>
          </div>
        </li>
        <li class="slick__item">
          <div class="gallery__slick-box">
            <picture>
              <source
                srcset="./images/cup-tea.jpg 1x, ./images/cup-tea@2x.jpg 2x"
                type="image/jpeg"
                media="(max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/cup-tea-desk.jpg    1x,
                  ./images/cup-tea-desk@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1280px)"
              />
              <img src="./images/cup-tea.jpg" alt="чашка кави" 
              width="245" />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
