<section class="gallery">
  <div class="container">
    <div class="gallery-bedroom-container">
      <div class="gallery-bedroom">
        <p class="subtitle__logo">Amet minim mollit non</p>
        <h2 class="logo__gallery">Mimino</h2>
        <p class="gallery__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="hotel-room">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/modern-studio-apartment.jpg    1x,
              ./images/modern-studio-apartment@2x.jpg 2x
            "
          />
          <img
            class="img-border"
            src="./images/modern-studio-apartment.jpg"
            alt="Номер з односпальним ліжком"
            width="460px"
          />
        </picture>
      </div>
    </div>
    <div class="lobby-container">
      <div class="gallery-lobby">
        <p class="gallery__description-lobby">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="./images/hotel-lobby.jpg 1x, ./images/hotel-lobby@2x.jpg 2x"
          />
          <img
            class="img-border"
            src="./images/hotel-lobby.jpg"
            alt="Лоббі з диваном та каміном"
          />
        </picture>
      </div>
      <div class="slider-container swiper">
        <div class="slider swiper-wrapper">
          <ul class="img__items">
            <li>
              <img class="swiper-slide" src="./images/white-towel-bedroom.jpg" alt="" 
              width="245px"/>
              
            </li>
            <li>
              <img class="swiper-slide" src="./images/white-towel-bedroom.jpg" alt="" 
              width="245px"/>
            </li>
            <li>
              <img class="swiper-slide" src="./images/white-towel-bedroom.jpg" alt="" 
              width="245px"/>
            </li>
            <li>
              <img class="swiper-slide" src="./images/white-towel-bedroom.jpg" alt="" 
              width="245px"/>
            </li>
          </ul>
          <button class="my-slick-prev">
            <svg width="32" height="32">
              <use href="./images/symbol-defs.svg#icon-cil_arrow-left"></use>
            </svg>
          </button>
          <button class="my-slick-next">
            <svg width="32" height="32">
              <use href="./images/symbol-defs.svg#icon-cil_arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</section>