<section class="menu-restaurant">
  <div class="container menu-restaurant__container">
    <h1 class="menu-restaurant__title">МЕНЮ РЕСТОРАНУ</h1>
    <div class="menu-restaurant__pages">
      <div class="menu-restaurant__first">
        <table class="menu-restaurant__table">
          <caption class="menu-restaurant__caption">
            Гарячі страви
          </caption>

          <tr class="menu-restaurant__row">
            <th class="menu-restaurant__name" scope="row">
              Борщ з телятини з квасолею
              <p class="menu-restaurant__ingredients">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </p>
            </th>
            <td class="menu-restaurant__weight">400 г</td>
            <td class="menu-restaurant__price">240 грн</td>
          </tr>

          <tr class="menu-restaurant__row">
            <th class="menu-restaurant__name" scope="row">
              Суп сирний з куркою
              <p class="menu-restaurant__ingredients">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </p>
            </th>
            <td class="menu-restaurant__weight">400 г</td>
            <td class="menu-restaurant__price">200 грн</td>
          </tr>

          <tr class="menu-restaurant__row">
            <th class="menu-restaurant__name" scope="row">
              Паста карбонара
              <p class="menu-restaurant__ingredients">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </p>
            </th>
            <td class="menu-restaurant__weight">350 г</td>
            <td class="menu-restaurant__price">430 грн</td>
          </tr>

          <tr class="menu-restaurant__row">
            <th class="menu-restaurant__name" scope="row">
              Стейк зі свинини
              <p class="menu-restaurant__ingredients">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </p>
            </th>
            <td class="menu-restaurant__weight">400 г</td>
            <td class="menu-restaurant__price">500 грн</td>
          </tr>

          <tr class="menu-restaurant__row">
            <th class="menu-restaurant__name" scope="row">
              Горбуша в соусі з білого вина
              <p class="menu-restaurant__ingredients">
                Ніжна горбуша, вершковий соус на основі білого вина
              </p>
            </th>
            <td class="menu-restaurant__weight">400 г</td>
            <td class="menu-restaurant__price">400 грн</td>
          </tr>
        </table>

        <table class="menu-restaurant__table">
          <caption class="menu-restaurant__caption">
            Гарніри та закуски
          </caption>

          <tr class="menu-restaurant__item">
            <th class="menu-restaurant__name" scope="row">
              Запечені овочі
              <p class="menu-restaurant__ingredients">
                Кабачок, перець, помідор, баклажан
              </p>
            </th>
            <td class="menu-restaurant__weight">200 г</td>
            <td class="menu-restaurant__price">230 грн</td>
          </tr>

          <tr class="menu-restaurant__item">
            <th class="menu-restaurant__name" scope="row">
              Картопля фрі
              <p class="menu-restaurant__ingredients">
                Картопля, соус томатний
              </p>
            </th>
            <td class="menu-restaurant__weight">150 г</td>
            <td class="menu-restaurant__price">160 грн</td>
          </tr>

          <tr class="menu-restaurant__item">
            <th class="menu-restaurant__name" scope="row">
              Картопля по-селянськи
              <p class="menu-restaurant__ingredients">
                Картопля, спеції, соус пікантний
              </p>
            </th>
            <td class="menu-restaurant__weight">150 г</td>
            <td class="menu-restaurant__price">160 грн</td>
          </tr>

          <tr class="menu-restaurant__item">
            <th class="menu-restaurant__name" scope="row">
              Хрумкі соління з бочки
              <p class="menu-restaurant__ingredients">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </p>
            </th>
            <td class="menu-restaurant__weight">250 г</td>
            <td class="menu-restaurant__price">350 грн</td>
          </tr>

          <tr class="menu-restaurant__item">
            <th class="menu-restaurant__name" scope="row">
              Крильця курячі в медовому соусі
              <p class="menu-restaurant__ingredients">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </p>
            </th>
            <td class="menu-restaurant__weight">400 г</td>
            <td class="menu-restaurant__price">420 грн</td>
          </tr>
        </table>
      </div>

      <div class="menu-restaurant__second">
        <table class="menu-restaurant__table">
          <caption class="menu-restaurant__caption">
            Салати
          </caption>

          <tr class="menu-restaurant__item">
            <th class="menu-restaurant__name" scope="row">
              Цезар з куркою
              <p class="menu-restaurant__ingredients">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </p>
            </th>
            <td class="menu-restaurant__weight">230 г</td>
            <td class="menu-restaurant__price">450 грн</td>
          </tr>

          <tr class="menu-restaurant__item">
            <th class="menu-restaurant__name" scope="row">
              Цезар з креветками
              <p class="menu-restaurant__ingredients">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </p>
            </th>
            <td class="menu-restaurant__weight">230 г</td>
            <td class="menu-restaurant__price">300 грн</td>
          </tr>

          <tr class="menu-restaurant__item">
            <th class="menu-restaurant__name" scope="row">
              Грецький салат
              <p class="menu-restaurant__ingredients">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </p>
            </th>
            <td class="menu-restaurant__weight">230 г</td>
            <td class="menu-restaurant__price">280 грн</td>
          </tr>

          <tr class="menu-restaurant__item">
            <th class="menu-restaurant__name" scope="row">
              М’ясний салат
              <p class="menu-restaurant__ingredients">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </p>
            </th>
            <td class="menu-restaurant__weight">230 г</td>
            <td class="menu-restaurant__price">300 грн</td>
          </tr>
        </table>
        <div class="menu-restaurant__bar">
          <table class="menu-restaurant__table">
            <caption class="menu-restaurant__caption">
              Десерти
            </caption>

            <tr class="menu-restaurant__item">
              <th class="menu-restaurant__name" scope="row">Торт наполеон</th>
              <td class="menu-restaurant__weight">230 г</td>
              <td class="menu-restaurant__price">300 грн</td>
            </tr>

            <tr class="menu-restaurant__item">
              <th class="menu-restaurant__name" scope="row">Торт маковий</th>
              <td class="menu-restaurant__weight">230 г</td>
              <td class="menu-restaurant__price">300 грн</td>
            </tr>
            <tr class="menu-restaurant__item">
              <th class="menu-restaurant__name" scope="row">Тірамісу</th>
              <td class="menu-restaurant__weight">120 г</td>
              <td class="menu-restaurant__price">260 грн</td>
            </tr>
          </table>

          <table class="menu-restaurant__table">
            <caption class="menu-restaurant__caption">
              Напої
            </caption>

            <tr class="menu-restaurant__item">
              <th class="menu-restaurant__name" scope="row">
                Чай чорний/зелений
              </th>
              <td class="menu-restaurant__weight">500 мл</td>
              <td class="menu-restaurant__price">100 грн</td>
            </tr>

            <tr class="menu-restaurant__item">
              <th class="menu-restaurant__name" scope="row">Еспресо</th>
              <td class="menu-restaurant__weight">30 мл</td>
              <td class="menu-restaurant__price">100 грн</td>
            </tr>

            <tr class="menu-restaurant__item">
              <th class="menu-restaurant__name" scope="row">Американо</th>
              <td class="menu-restaurant__weight">150 мл</td>
              <td class="menu-restaurant__price">100 грн</td>
            </tr>

            <tr class="menu-restaurant__item">
              <th class="menu-restaurant__name" scope="row">Капучино</th>
              <td class="menu-restaurant__weight">200 мл</td>
              <td class="menu-restaurant__price">160 грн</td>
            </tr>

            <tr class="menu-restaurant__item">
              <th class="menu-restaurant__name" scope="row">Лате</th>
              <td class="menu-restaurant__weight">200 мл</td>
              <td class="menu-restaurant__price">160 грн</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <button class="menu-restaurant__button" type="button">
      Забронювати столик
    </button>
  </div>
</section>
