<section class="rest-main">
    <div class="container rest-main__container">
        <h2 class="visually-hidden">Наша кухня</h2>
        <div class="rest-text">
        <p class="text_main">Amet minim mollit non</p>
        <h3 class="rest-title">Mimiho</h3>
        <p class="text_secondary">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
        <picture>
            <source
              srcset="
                ./images/rest-main/rest-main1-mobile.jpg    1x,
                ./images/rest-main/rest-main1-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/rest-main/rest-main1-tablet.jpg    1x,
                ./images/rest-main/rest-main1-tablet@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/rest-main/rest-main1.jpg    1x,
                ./images/rest-main/rest-main1@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="img rest-main__img rest-main__img--bg"
              src="./images/rest-main/rest-main1-mobile.jpg"
              alt="Кухар готує іжу в ресторані"
            />
          </picture>
          <div class="rest-main__second">
            <picture>
                <source
              srcset="
                ./images/rest-main/rest-main2-mobile.jpg    1x,
                ./images/rest-main/rest-main2-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/rest-main/rest-main2-tablet.jpg    1x,
                ./images/rest-main/rest-main2-tablet@2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/rest-main/rest-main2.jpg    1x,
                ./images/rest-main/rest-main2@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 1280px)"
            />
            <img
              class="img rest-main__img--bg"
              src="./images/rest-main/rest-main2-mobile.jpg"
              alt="Сирий стейк на дошці"
            />
            </picture>
            <p class="restaurant__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                Velit officia consequat duis enim velit mollit. 
                Exercitation veniam consequat sunt nostrud amet.</p>
          </div>
          <div class="rest-slick">
            <ul class="rest-slick__list one-time">
              <li class="rest-slick__item">
                <div class="rest-slick__box">
                <picture>
                  <source
                    srcset="
                      ./images/rest-main/rest-dishes1-mobile.jpg    1x,
                      ./images/rest-main/rest-dishes1-mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(max-width: 1023px)"
                  />
                  <source
                    srcset="
                      ./images/rest-main/rest-dishes-tablet1.jpg    1x,
                      ./images/rest-main/rest-dishes-tablet1@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(max-width: 1279px)"
                  />
                  <source
                    srcset="
                      ./images/rest-main/rest-dishes1.jpg    1x,
                      ./images/rest-main/rest-dishes1@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 1280px)"
                  />
                  <img
                    class="img rest-slick__img"
                    src="./images/rest-main/rest-dishes1-mobile.jpg"
                    alt="Руки кухара в борошні"
                  />
                </picture>
              </div>
            </li>
            <li class="rest-slick__item">
              <div class="rest-slick__box">
                <picture>
                  <source
                    srcset="
                      ./images/rest-main/rest-dishes2-mobile.jpg    1x,
                      ./images/rest-main/rest-dishes2-mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(max-width: 1023px)"
                  />
                  <source
                    srcset="
                      ./images/rest-main/rest-dishes-tablet2.jpg    1x,
                      ./images/rest-main/rest-dishes-tablet2@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(max-width: 1279px)"
                  />
                  <source
                    srcset="
                      ./images/rest-main/rest-dishes2.jpg    1x,
                      ./images/rest-main/rest-dishes2@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 1280px)"
                  />
                  <img
                    class="img rest-slick__img"
                    src="./images/rest-main/rest-dishes2-mobile.jpg"
                    alt="Хінкалі в тарілці"
                  />
                </picture>
              </div>
            </li>
            <li class="rest-slick__item">
              <div class="rest-slick__box">
                <picture>
                  <source
                    srcset="
                      ./images/rest-main/rest-dishes3-mobile.jpg    1x,
                      ./images/rest-main/rest-dishes3-mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(max-width: 1023px)"
                  />
                  <source
                    srcset="
                      ./images/rest-main/rest-dishes3-tablet.jpg    1x,
                      ./images/rest-main/rest-dishes3-tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(max-width: 1279px)"
                  />
                  <source
                    srcset="
                      ./images/rest-main/rest-dishes3.jpg    1x,
                      ./images/rest-main/rest-dishes3@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 1280px)"
                  />
                  <img
                    class="img rest-slick__img"
                    src="./images/rest-main/rest-dishes3-mobile.jpg"
                    alt="Англійський сніданок у ресторані"
                  />
                </picture>
              </div>
            </li>
            <li class="rest-slick__item">
              <div class="rest-slick__box">
                <picture>
                  <source
                    srcset="
                      ./images/rest-main/rest-dishes4-mobile.jpg    1x,
                      ./images/rest-main/rest-dishes4-mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(max-width: 1023px)"
                  />
                  <source
                    srcset="
                      ./images/rest-main/rest-dishes4-tablet.jpg    1x,
                      ./images/rest-main/rest-dishes4-tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(max-width: 1279px)"
                  />
                  <source
                    srcset="
                      ./images/rest-main/rest-dishes4.jpg    1x,
                      ./images/rest-main/rest-dishes4@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 1280px)"
                  />
                  <img
                    class="img rest-slick__img"
                    src="./images/rest-main/rest-dishes4-mobile.jpg"
                    alt="Сніданок на терасі ресторану"
                  />
                </picture>
              </div>
            </li>
          </ul>
        </div>
      </div>
    
</section>