<section class="homepage-restaurant">
  <div class="container">
    <p class="homepage-restaurant__name" >Mimiho</p>
    <h3 class="homepage-restauran__title">Ресторан</h2>
    <p class="homepage-restauran__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>

    <div class="rest-menu">
      <ul class="rest-slider">
        <li class="slick-item">
          <picture>
            <source
              srcset="
                ./images/food1-mobile.jpg    1x,
                ./images/food1-mobile@2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width: 1023px)"
            />
            <source
              srcset="./images/food1-tabl.jpg 1x, ./images/food1-tabl@2x.jpg 2x"
              type="image/jpeg"
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/food1-desktop.jpg    1x,
                ./images/food1-desktop@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 1280px)"
            />
            <img
              class="img rest-slider__img"
              src="./images/food1-mobile.jpg"
              alt="Стейк на зеленій тарілці"
            />
          </picture>
        </li>

        <li class="slick-item">
          <picture>
            <source
              srcset="
                ./images/food2-mobile.jpg    1x,
                ./images/food2-mobile@2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width: 1023px)"
            />
            <source
              srcset="./images/food2-tabl.jpg 1x, ./images/food2-tabl@2x.jpg 2x"
              type="image/jpeg"
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/food2-desktop.jpg    1x,
                ./images/food2-desktop@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 1280px)"
            />
            <img
              class="img rest-slider__img"
              src="./images/food2-mobile.jpg"
              alt="Шашлик на лаваші"
            />
          </picture>
        </li>

        <li class="slick-item">
          <picture>
            <source
              srcset="
                ./images/food3-mobile.jpg    1x,
                ./images/food3-mobile@2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width: 1023px)"
            />
            <source
              srcset="./images/food3-tabl.jpg 1x, ./images/food3-tabl@2x.jpg 2x"
              type="image/jpeg"
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/food3-desktop.jpg    1x,
                ./images/food3-desktop@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 1280px)"
            />
            <img
              class="img rest-slider__img"
              src="./images/food3-mobile.jpg"
              alt="Салати"
            />
          </picture>
        </li>
      </ul>
    </div>

    <button class="rest-btn" type="button">Забронювати столик</button>

    <button class="rest-btn" type="button">Переглянути меню</button>
  </div>
</section>
