<section>
  <div class="container rest-home">
    <h2 class="visually-hidden">Про наш ресторан</h2>
    <p class="text_main">Amet minim mollit non</p>
    <h3 class="section-title">Mimiho</h3>
    <p class="text_secondary">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <img
      class="img rest-home__img"
      src="./images/rest-interior-mob1.jpg"
      alt="Загальне фото інтер'єру ресторану"
    />
    <div class="restor-home__flex">
      <img
        class="img"
        src="./images/rest-interior-mob2.jpg"
        alt="Інтер'єр ресторану. Зал з колонами, столи, стільці"
      />
      <p class="text_secondary-color">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <ul class="slick__list one-time">
        <li class="slick__item">
          <div class="slick__box"><img
            class="img"
            src="./images/rest-table-mob1.jpg"
            alt="Жіноча рука тримає бокал з червоним вином"
          /></div>
        </li>
        <li class="slick__item">
          <div class="slick__box"><img
            class="img"
            src="./images/rest-table-mob2.jpg"
            alt="Сервірований стіл, тарілки, прибори, бокали, букети"
          /></div>
        </li>
    </ul>
    

    <svg width="32" height="32">
      <use href="./images/symbol-defs.svg#icon-cil_arrow-left"></use>
    </svg>
    <svg width="32" height="32">
      <use href="./images/symbol-defs.svg#icon-cil_arrow-right"></use>
    </svg>
  </div>
</section>
