<section>
  <div class="container rest-home rest-home__line">
    <h2 class="visually-hidden">Про наш ресторан</h2>
    
    <p class="text_main">Amet minim mollit non</p>
    <h3 class="section-title">Mimiho</h3>
    <p class="text_secondary">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          ./images/rest-home/rest-interior-mob1.jpg    1x,
          ./images/rest-home/rest-interior-mob1@2x.jpg 2x
        "
        type="image/jpeg"
        media="(max-width: 1023px)"
      />
      <source
        srcset="
          ./images/rest-home/rest-interior-tab1.jpg    1x,
          ./images/rest-home/rest-interior-tab1@2x.jpg 2x
        "
        type="image/jpeg"
        media="(max-width: 1279px)"
      />
      <source
        srcset="
          ./images/rest-home/rest-interior-desk1.jpg    1x,
          ./images/rest-home/rest-interior-desk1@2x.jpg 2x
        "
        type="image/jpeg"
        media="(min-width: 1280px)"
      />
      <img
        class="img rest-home__img rest-home__img--bg"
        src="./images/rest-home/rest-interior-mob1.jpg"
        alt="Загальне фото інтер'єру ресторану"
      />
    </picture>
    <div class="restor-home__flex">
      <picture>
        <source
          srcset="
            ./images/rest-home/rest-interior-mob2.jpg    1x,
            ./images/rest-home/rest-interior-mob2@2x.jpg 2x
          "
          type="image/jpeg"
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/rest-home/rest-interior-tab2.jpg    1x,
            ./images/rest-home/rest-interior-tab2@2x.jpg 2x
          "
          type="image/jpeg"
          media="(max-width: 1279px)"
        />
        <source
          srcset="
            ./images/rest-home/rest-interior-desk2.jpg    1x,
            ./images/rest-home/rest-interior-desk2@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1280px)"
        />
        <img
          class="img rest-home__img--bg"
          src="./images/rest-home/rest-interior-mob2.jpg"
          alt="Інтер'єр ресторану. Зал з колонами, столи, стільці"
        />
      </picture>
      <p class="text_secondary-color">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="slick">
      <ul class="slick__list one-time">
        <li class="slick__item">
          
            <picture>
              <source
                srcset="
                  ./images/rest-home/rest-table-mob1.jpg    1x,
                  ./images/rest-home/rest-table-mob1@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/rest-home/rest-table-tab1.jpg    1x,
                  ./images/rest-home/rest-table-tab1@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/rest-home/rest-table-desk1.jpg    1x,
                  ./images/rest-home/rest-table-desk1@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1280px)"
              />
              <img
                class="img slick__img"
                src="./images/rest-home/rest-table-mob1.jpg"
                alt="Жіноча рука тримає бокал з червоним вином"
              />
            </picture>
          
        </li>
        <li class="slick__item">
          
            <picture>
              <source
                srcset="
                  ./images/rest-home/rest-table-mob2.jpg    1x,
                  ./images/rest-home/rest-table-mob2@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/rest-home/rest-table-tab2.jpg    1x,
                  ./images/rest-home/rest-table-tab2@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/rest-home/rest-table-desk2.jpg    1x,
                  ./images/rest-home/rest-table-desk2@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1280px)"
              />
              <img
                class="img slick__img"
                src="./images/rest-home/rest-table-mob2.jpg"
                alt="Сервірований стіл, тарілки, прибори, бокали, букети"
              />
            </picture>
          
        </li>
        <li class="slick__item">
          
            <picture>
              <source
                srcset="
                  ./images/rest-home/rest-table-mob3.jpg    1x,
                  ./images/rest-home/rest-table-mob3@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/rest-home/rest-table-tab3.jpg    1x,
                  ./images/rest-home/rest-table-tab3@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/rest-home/rest-table-desk3.jpg    1x,
                  ./images/rest-home/rest-table-desk3@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1280px)"
              />
              <img
                class="img slick__img"
                src="./images/rest-home/rest-table-mob3.jpg"
                alt="Два плато з устрицями і лимоном, два бокали білого вина"
              />
            </picture>
         
        </li>
        <li class="slick__item">
          
            <picture>
              <source
                srcset="
                  ./images/rest-home/rest-table-mob4.jpg    1x,
                  ./images/rest-home/rest-table-mob4@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/rest-home/rest-table-tab4.jpg    1x,
                  ./images/rest-home/rest-table-tab4@2x.jpg 2x
                "
                type="image/jpeg"
                media="(max-width: 1279px)"
              />
              <source
                srcset="
                  ./images/rest-home/rest-table-desk4.jpg    1x,
                  ./images/rest-home/rest-table-desk4@2x.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 1280px)"
              />
              <img
                class="img slick__img"
                src="./images/rest-home/rest-table-mob4.jpg"
                alt="Стіл на терасі, на якому поданий сніданок - гранола, тости, смажені яйця, дві чашки капучіно, какао"
              />
            </picture>
          
        </li>
      </ul>
    </div>
  </div>
</section>
