<section class="room-amenities">
  <div class="container">
    <h2 class="room-amenities__title">Зручності у номері</h2>
    <p class="room-amenities__text room-amenities__text--bottom">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul>
      <li>
        <h3 class="room-amenities__subtitle">Загальні</h3>
        <p class="room-amenities__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <p class="room-amenities__text room-amenities__text--bottom">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li>
        <h3 class="room-amenities__subtitle">Ванна кімната</h3>
        <p class="room-amenities__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <p class="room-amenities__text room-amenities__text--bottom">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li>
        <h3 class="room-amenities__subtitle">Спальня</h3>
        <p class="room-amenities__text room-amenities__text--bottom">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li>
        <h3 class="room-amenities__subtitle">Кухня</h3>
        <p class="room-amenities__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
        <p class="room-amenities__text room-amenities__text--bottom">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li>
        <h3 class="room-amenities__subtitle">Медіа</h3>
        <p class="room-amenities__text room-amenities__text--bottom">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <button class="room-amenities__button-book" type="button">
      Оформити бронювання
    </button>
    <a class="room-amenities__button-back" href="#"
      >Повернутися до перегляду номерів<span
        ><svg class="room-amenities__icon" width="24" height="24">
          <use
            href="./images/symbol-defs.svg#icon-cil_arrow-right-room"
          ></use></svg></span
    ></a>
  </div>
</section>
