<section class="room-amenities">
  <div class="container room-amenities__container room-amenities__container--lines">
    <h2 class="room-amenities__title">Зручності у номері</h2>
    <p
      class="room-amenities__text room-amenities__text--bottom room-amenities__text--wide"
    >
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul>
      <li>
        <h3 class="room-amenities__subtitle">Загальні</h3>
        <div class="room-amenities__container-text">
          <p class="room-amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="room-amenities__text room-amenities__text--bottom">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li>
        <h3 class="room-amenities__subtitle">Ванна кімната</h3>
        <div class="room-amenities__container-text">
          <p class="room-amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="room-amenities__text room-amenities__text--bottom">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li>
        <h3 class="room-amenities__subtitle">Спальня</h3>
        <p class="room-amenities__text room-amenities__text--bottom">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li>
        <h3 class="room-amenities__subtitle">Кухня</h3>
        <div class="room-amenities__container-text">
          <p class="room-amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="room-amenities__text room-amenities__text--bottom">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li>
        <h3 class="room-amenities__subtitle">Медіа</h3>
        <p class="room-amenities__text room-amenities__text--bottom">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>

    <div class="room-amenities__button-box">
      <button
        class="room-amenities__button-book open-modal-book-room-button"
        type="button"
      >
        Оформити бронювання
      </button>
      <a class="room-amenities__button-back" href="./hotel.html"
        >Повернутися до перегляду номерів<span
          ><svg class="room-amenities__icon" width="24" height="24">
            <use
              href="./images/symbol-defs.svg#icon-cil_arrow-right-room"
            ></use></svg></span
      ></a>
    </div>
  </div>
</section>
